{% extends 'base.html.twig' %}

{% block body %}

<turbo-frame id="mauro" action="replace">
  <div style="display: flex; margin-left: 20px; ">
          <table class="table">     
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Dni</th>
                <th>Asignatura</th>
              </tr> 
            </thead>
          
              <tbody style="text-align: center">
                <tr>
                  <td>{{ student.id }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.lastName }}</td>
                  <td>{{ student.dni }}</td>
                  {% for asignature in asignatures %}               
                    <td>{{ asignature.name }}</td>  
                  {% endfor %} 
                </tr>             
          </tbody>
          </table>

  </div>  

</turbo-frame>

{% endblock %}




