{% extends 'base.html.twig' %}

{% block body %}

<turbo-frame id="mauro" action="replace">

<h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ student.dni }}</td>
            </tr>
          {% for asignature in asignatures %}
            <tr>
              <th>Asignatura</th>
              <td>{{ asignature.name }}</td>
            </tr>
          {% endfor %}

            {# <tr>
              <th>Carrera</th>
              <td>{{ carrera.name }}</td>
            </tr> #}
      

        </tbody>
    </table>
</turbo-frame>

{% endblock %}
