{% extends 'base.html.twig' %}

{% block title %}Teacher{% endblock %}

{% block body %}
  <h1>Teacher</h1>
<turbo-frame id="turboT" action="replace">
<div style="display: flex; margin-left: 20px; ">
  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ teacher.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ teacher.name }}</td>
      </tr>
      <tr>
        <th>LastName</th>
        <td>{{ teacher.lastName }}</td>
      </tr>
      <tr>
        <th>Dni</th>
        <td>{{ teacher.dni }}</td>
      </tr>
    </tbody>
  </table>
</div>
</turbo-frame

    {# <a href="{{ path('app_teacher_index') }}">back to list</a>

    <a href="{{ path('app_teacher_edit', {'id': teacher.id}) }}">edit</a>

    {{ include('teacher/_delete_form.html.twig') }} #}
{% endblock %}
