{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
    <h1>Teacher index</h1>

<div style="display: flex ">
  <div style ="display: flex ; justify-content: flex-start;"> 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Dni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.dni }}</td>
                <td>
                    <a href="{{ path('app_teacher_show', {'id': teacher.id}) }} " data-turbo-frame="turboT">show</a>
                    <a href="{{ path('app_teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="display: flex-columm">
      <turbo-frame id="turboT">texto que aparece default sin clickear nada</turbo-frame>
    </div>

  </div>      
</div>
  <a href="{{ path('app_teacher_new') }}">Create new</a>

{% endblock %}
