{% extends 'base.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block body %}
    <h1>Crear nuevo profesor</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.dni) }}

    <h2>Asignaturas</h2>
    {{ form_row(form.asignature) }}

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}


