{% extends 'base.html.twig' %}

{% block title %}Asignature{% endblock %}

{% block body %}
    <h1>Asignature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignature.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ asignature.name }}</td>
            </tr>
            {% for a単oAct in a単oActual %}
              <th>A単o en curso</th>
              <td>{{ a単oAct.name }}</td>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_asignature_index') }}">back to list</a>

    <a href="{{ path('app_asignature_edit', {'id': asignature.id}) }}">edit</a>

    {{ include('asignature/_delete_form.html.twig') }}
{% endblock %}
